<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TestSQL</servlet-name>
        <servlet-class>com.dsc.test.TestSQL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewInventory</servlet-name>
        <servlet-class>NewInventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewProduct</servlet-name>
        <servlet-class>NewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BCustomer_Buying_Most</servlet-name>
        <servlet-class>com.dsc.DataAggregation.BCustomer_Buying_Most</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Region_SalesVolume</servlet-name>
        <servlet-class>com.dsc.DataAggregation.Region_SalesVolume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top_ProductCategory</servlet-name>
        <servlet-class>com.dsc.DataAggregation.Top_ProductCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindItem</servlet-name>
        <servlet-class>dbservlet.FindItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesAndProfits</servlet-name>
        <servlet-class>com.dsc.DataAggregation.SalesAndProfits</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enterDataAggregation</servlet-name>
        <servlet-class>com.dsc.DataAggregation.enterDataAggregation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>returnServlet</servlet-name>
        <servlet-class>dbservlet.returnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterDataAggregation</servlet-name>
        <servlet-class>com.dsc.DataAggregation.EnterDataAggregation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BestSaleperson</servlet-name>
        <servlet-class>com.dsc.DataAggregation.BestSaleperson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerTracking</servlet-name>
        <servlet-class>com.dsc.DataAggregation.CustomerTracking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>com.dsc.DataAggregation.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnProduct</servlet-name>
        <servlet-class>com.dsc.DataAggregation.ReturnProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>com.dsc.DataAggregation.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showProductInfo</servlet-name>
        <servlet-class>com.dsc.DataAggregation.showProductInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>com.dsc.DataAggregation.DeleteProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestSQL</servlet-name>
        <url-pattern>/TestSQL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewInventory</servlet-name>
        <url-pattern>/NewInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BCustomer_Buying_Most</servlet-name>
        <url-pattern>/BCustomer_Buying_Most</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Region_SalesVolume</servlet-name>
        <url-pattern>/Region_SalesVolume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Top_ProductCategory</servlet-name>
        <url-pattern>/Top_ProductCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesAndProfits</servlet-name>
        <url-pattern>/SalesAndProfits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewProduct</servlet-name>
        <url-pattern>/NewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enterDataAggregation</servlet-name>
        <url-pattern>/enterDataAggregation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterDataAggregation</servlet-name>
        <url-pattern>/EnterDataAggregation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindItem</servlet-name>
        <url-pattern>/FindItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BestSaleperson</servlet-name>
        <url-pattern>/BestSaleperson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerTracking</servlet-name>
        <url-pattern>/CustomerTracking</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>dbservlet.Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Products</servlet-name>
        <servlet-class>bean.Products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>dbservlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopping</servlet-name>
        <servlet-class>dbservlet.shopping</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Newcustomer</servlet-name>
        <servlet-class>Newcustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Newcustomer</servlet-name>
        <url-pattern>/Newcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopping</servlet-name>
        <url-pattern>/shopping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnProduct</servlet-name>
        <url-pattern>/ReturnProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>returnServlet</servlet-name>
        <url-pattern>/returnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showProductInfo</servlet-name>
        <url-pattern>/showProductInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
